body{
	margin: 0px;
	padding: 0px;
	color: whitesmoke;
	cursor: default;
	font-family: Abel;
	direction: rtl;
}
button{
	cursor: pointer;
}
i{
	font-style: normal;
}
nav{
	padding: 20px;
	background-color: #020202;
}
nav h1{
	font-size: 25px;
}
.row{
	width: 100%;
}
.header{
	background-color: #020202;
	padding-bottom: 5%;
}
.my_header{
	padding-top: 5%;
}
.mypic_container{
	padding-right: 10%;
}
.mypic_container img{
	width: 100%;
}
.my_header_info{
	width: 50%;
	min-width: 200px;
	text-align: left;
}
.my_header_info h1{
	font-size: 4vw;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.my_header_info h2{
	color: #ff7800;
}
.my_header_info button{
	width: 100%;
	margin-top: 1vw;
}
#family_name{
	font-size: 5vw;
	color: #009fff;
}
.about_me{
	color: black;
	padding: 20px;

}
.what_i_do{
	color: black;
	padding: 10px;
	border-right: solid dimgray 1px;
}
.my_info{
	border-bottom: solid dimgray 1px;
	margin-bottom: 50px;
	padding: 20px;
}
.my_info p{
	font-size: 17px;
}
@media (max-width: 770px) and (min-width: 10px){
	.my_header_info{
		text-align: center;
	}
	.my_header_info h1{
		font-size: 10vw;
	}
	.my_header_info h2{
		font-size: 7vw;
	}
	#family_name{
		font-size: 10vw;
	}
	.header{
		padding-bottom: 40px;
	}
	.what_i_do{
		border: none;
	}
	.about_me{
		border-bottom: solid dimgray 1px;
	}
}